<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/AV-dataset-main.css">
    <link rel="stylesheet" href="assets/css/av-home.css">
    <link rel="stylesheet" href="assets/css/butt1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Motion Prediction for AV&nbsp;&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Dataset.html">Dataset</a></li>
                    <li class="nav-item"><a class="nav-link" href="Methodology.html">Methdology</a></li>
                    <li class="nav-item"><a class="nav-link" href="Visualized%20Prediction.html">Visualized Prediction</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <section class="portfolio-block block-intro"><img src="assets/img/pvwocd69jvlnae477hlr.webp" width="1000">
                <div class="container">
                    <div class="about-me">
                        <p class="text-center"><br>Autonomous cars are the future smart cars that are anticipated to be driverless, efficient and crash avoiding ideal urban car of the future.&nbsp;<br>Today we see a lot of experiments being done on driverless cars in a controlled environment under the supervision of human, and excellent road and environment conditions, but there are still many challenges in designing a fully autonomous vehicle.<br><br></p>
                        <p><br><br>In this project, we focus on one of the key challenges: accurate motion prediction. To be able to understand the dynamic driving environment, an autonomous vehicle needs to predict the motion of other traffic participants as well as forming its own course of movement in the driving scene. And it can be done based on learned experience and recently observed series of past moving targets which will be captured by the various sensors equipped on the AV.&nbsp;<br><br><br></p>
                    </div>
                </div><img src="assets/img/1_-up-38xyQwcP2vOI0ghUyw.jpeg">
            </section>
        </section>
    </main>
    <section class="portfolio-block website gradient"></section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>