<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/AV-dataset-main.css">
    <link rel="stylesheet" href="assets/css/av-home.css">
    <link rel="stylesheet" href="assets/css/butt1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Motion Prediction for AV&nbsp;&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Dataset.html">Dataset</a></li>
                    <li class="nav-item"><a class="nav-link" href="Methodology.html">Methdology</a></li>
                    <li class="nav-item"><a class="nav-link active" href="Visualized%20Prediction.html">Visualized Prediction</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page hire-me-page"></main>
    <div class="container">
        <h2 class="fs-1 text-center">Motion prediction</h2>
        <p class="fs-4 text-center">- Prediction: Light Blue Trajectory</p>
        <p class="fs-4 text-center">- Ground Truth: Pink Trajectory</p>
        <div class="row text-center"><div class="container">
    <head>
      <title>Image Display Test</title>
      <script type="text/javascript">
        function showImage(elem) {
          document.getElementById("display-frame").src = elem.nextElementSibling.src;
        }
      </script>
    </head>
</div>
    <body> 
        <div class="Prediction">
          <input button class="btn btn-success outline" type="button" value="Green light" onclick="showImage(this);" />
          <img id="1" src="assets/img/GreenLight.png" style="display:none" width="1000px" height="500" />

          <input button class="btn btn-warning outline" type="button" value="Red Light" onclick="showImage(this);" />
          <img id="2" src="assets/img/RedLight%20(2).png" style="display:none" width="400" height="500"/>

          <input button class="btn btn-primary outline" type="button" value="Curvature" onclick="showImage(this);" />
          <img id="3" src="assets/img/Curved%20line.png" style="display:none" width=500 height=500/>
          <br>
          <img id="display-frame"/>
        </div>
    </body>







</div>
        <p class="text-center"><p class="fs-3"><br><br></p></p>
        <p class="fs-3 text-center">Entire Scene Prediction</p>
        <p class="text-center"><body>
    <iframe src="https://player.vimeo.com/video/706627630?h=585a317f91&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="540" height="540" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Scene0"></iframe>
</body></p>
    </div>
    <footer class="page-footer">
        <footer></footer>
    </footer>
    <section class="portfolio-block website gradient"></section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>